# Bỏ qua file editorconfig sinh ra tự động trong obj
obj/**/*.editorconfig 

# Loại trừ toàn bộ thư mục .idea (cấu hình IDE)
.idea/ 

# Loại trừ migration
Migrations/ 

# Loại trừ toàn bộ thư mục bin và obj
bin/
obj/

# Loại trừ các file cấu hình appsettings (thường chứa thông tin nhạy cảm)
appsettings.json
appsettings.*.json
